<div>
  <div>
    <h1>
      Vitamin #<%= @vitamin.id %> details
    </h1>

    <div>
        <%= link_to "Edit", edit_vitamin_path(@vitamin)  %> |
        <%= link_to "Delete vitamin", vitamin_path(@vitamin.id), method: :delete, data: { confirm: 'Are you sure?' }%> |
        <%= link_to "Go back", vitamins_path %> 


    </div>

    <dl>
      <dt>
        Amount per serving
      </dt>
      <dd>
        <%= @vitamin.amount_per_serving %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@vitamin.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@vitamin.updated_at) %> ago
      </dd>
    </dl>
    
  </div>
</div>

<hr>
