<div>
  <div>
    <h1>
      Vitamin #<%= @the_vitamin.id %> details
    </h1>

    <div>
      <div>
      <%= link_to "Go Back", vitamins_path %>
      </div>

      <div>
        <%= link_to "Delete vitamin", delete_vitamin_path(@the_vitamin.id) %>
      </div>
    </div>

    <dl>
      <dt>
        Amount per serving
      </dt>
      <dd>
        <%= @the_vitamin.amount_per_serving %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_vitamin.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_vitamin.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit vitamin
    </h2>

    <form action="<%edit_pill_path(@the_vitamin.id) %>"  method="post" >
      <div>
        <label for="amount_per_serving_box">
          Amount per serving
        </label>

        <input type="text" id="amount_per_serving_box" name="query_amount_per_serving" value="<%= @the_vitamin.amount_per_serving %>">
      </div>

      <button>
        Update vitamin
      </button>
    </form>
  </div>
</div>

<hr>
