<div>
  <div>
    <h1>
      List of all pills
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
   
  <%= link_to 'Add pill', new_pill_path %>
  </div>
</div>
<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Vitamin
        </th>
        <th>
          Brand
        </th>

        <th>
          Description
        </th>

        <th>
          Ingredients
        </th>

        <th>
          Quantity
        </th>

        <th>
          Upc
        </th>

        <th>
          Order more
        </th>

        <th>
          Pill takens count
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @pills.each do |pill| %>
      <tr>
        <td>
          <%= pill.vitamin_id %>
        </td>

        <td>
          <%= pill.brand %>
        </td>

        <td>
          <%= pill.description %>
        </td>

        <td>
          <%= pill.ingredients %>
        </td>

        <td>
          <%= pill.quantity %>
        </td>

        <td>
          <%= pill.upc %>
        </td>

        <td>
          <%= pill.order_more %>
        </td>

        <td>
          <%= pill.pill_takens_count %>
        </td>

        <td>
          <%= time_ago_in_words(pill.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(pill.updated_at) %> ago
        </td>

        <td>
          <%= link_to "Show Details", pill_path(pill.id) %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
