<div>
  <div>
    <h1>
      Pill #<%= @pill.id %> details
    </h1>

    <div>
<%= link_to 'Edit', edit_pill_path(@pill) %> |
<%= link_to "Delete pill", pill_path(@pill.id), method: :delete, data: { confirm: 'Are you sure?' }%> |
<%= link_to 'Go back', pills_path %>
    </div>

    <dl>
      <dt>
        Vitamin
      </dt>
      <dd>
        <%= @pill.vitamin_id %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= @pill.owner_id %>
      </dd>

      <dt>
        Brand 
      </dt>
      <dd>
        <%= @pill.brand %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @pill.description %>
      </dd>

      <dt>
        Ingredients
      </dt>
      <dd>
        <%= @pill.ingredients %>
      </dd>

      <dt>
        Quantity
      </dt>
      <dd>
        <%= @pill.quantity %>
      </dd>

      <dt>
        Upc
      </dt>
      <dd>
        <%= @pill.upc %>
      </dd>

      <dt>
        Order more stuff show
      </dt>
      <dd>
        <%= @pill.order_more %>
      </dd>

      <dt>
        Pill takens count
      </dt>
      <dd>
        <%= @pill.pill_takens_count %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@pill.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@pill.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>



<hr>
