<div>
  <div>
    <h1>
      List of all prescriptions
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new prescription
    </h2>
    <%= form_with(url: new_prescription_path) do %>
    
      <div>
        <%= label_tag :frequency_box, "Frequency" %>
        <input type="text" id="frequency_box" name="frequency">
      </div>

      <div>
        <%= label_tag :pill_id_box, "Pill" %>
        <input type="text" id="pill_id_box" name="pill_id">
      </div>

      <div>
        <%= label_tag :owner_id_box, "Owner" %>
        <input type="text" id="owner_id_box" name="owner_id">
      </div>

      <button>
        Create prescription
      </button>
    <% end %>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Frequency
        </th>

        <th>
          Pill
        </th>

        <th>
          Owner
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_prescriptions.each do |a_prescription| %>
      <tr>
        <td>
          <%= a_prescription.id %>
        </td>

        <td>
          <%= a_prescription.frequency %>
        </td>

        <td>
          <%= a_prescription.pill_id %>
        </td>

        <td>
          <%= a_prescription.owner_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_prescription.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_prescription.updated_at) %> ago
        </td>

        <td>
            <%= link_to "Show Details", prescriptions_path(a_prescription.id) %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
