<div>
  <div>
    <h1>
      Prescription #<%= @the_prescription.id %> details
    </h1>

    <div>
      <div>
        <%= link_to "Go Back", prescriptions_path%>
      </div>

      <div>
        <%= link_to "Delete Prescription", delete_prescription_path(@the_prescription.id) %>
      </div>
    </div>

    <dl>
      <dt>
        Frequency
      </dt>
      <dd>
        <%= @the_prescription.frequency %>
      </dd>

      <dt>
        Pill
      </dt>
      <dd>
        <%= @the_prescription.pill_id %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_prescription.owner_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_prescription.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_prescription.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit prescription
    </h2>

    <form action="<%=edit_prescription_path(@the_prescription.id) %>"  method="post" >
      <div>
        <label for="frequency_box">
          Frequency
        </label>

        <input type="text" id="frequency_box" name="query_frequency" value="<%= @the_prescription.frequency %>">
      </div>

      <div>
        <label for="pill_id_box">
          Pill
        </label>

        <input type="text" id="pill_id_box" name="query_pill_id" value="<%= @the_prescription.pill_id %>">
      </div>

      <div>
        <label for="owner_id_box">
          Owner
        </label>

        <input type="text" id="owner_id_box" name="query_owner_id" value="<%= @the_prescription.owner_id %>">
      </div>

      <button>
        Update prescription
      </button>
    </form>
  </div>
</div>

<hr>
